[submodule "lib/lwip"]
	path = lib/lwip
	url = https://github.com/kripton/lwip.git
[submodule "lib/jsoncpp"]
	path = lib/jsoncpp
	url = https://github.com/kripton/jsoncpp.git
[submodule "lib/libb64"]
	path = lib/libb64
	url = https://github.com/kripton/libb64.git
[submodule "lib/magic_enum"]
	path = lib/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "lib/libsodium"]
	path = lib/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "lib/libhydrogen"]
	path = lib/libhydrogen
	url = https://github.com/jedisct1/libhydrogen.git
